{% extends 'base.html' %} {% block title %} Pet {% endblock %} {% block content
%}
<!-- Your HTML content goes here -->
<body>
  <h1>All Pets</h1>
  <ul>
    {% for pet in pets %}
    <li><a href="/{{pet.id}}">{{pet.name}}</a></li>
    {% endfor %}
  </ul>
  <form action="/" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="species" placeholder="Species" />
    <input type="integer" name="hunger" placeholder="Hunger" />
    <button type="submit">New Pet</button>
  </form>
</body>
{% endblock %}
